* {
    margin: 0;
    padding: 0;
}

.nav-link {
    display: flex;
    list-style: none;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    color: aqua;
    background-color: black;
}

.href {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 500px;
    /* background-color: palegoldenrod; */
    height: 500px;
}

.Text {
    background-color: #000;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

button {
    font-size: 1.2rem;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: cornflowerblue;
    color: blueviolet;
    cursor: pointer;
}
.ham{
    display: none;
}


@media screen and (max-width:500px){
    /* .links{
       display: none;
    } */
    .nav-link{
        justify-content: space-between;
    }
    .ham{
        display: inline-block;
    }
    .hambergur{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}